{% extends 'base.html' %}
{% load static %}
{% block title %}
Lista de pessoas cadastradas
{% endblock %}

{% block TituloPagina %}
Pessoas Cadastradas

{% endblock %}

{% block content %}

<div class="container"> 
<table class="table">

    <thead>
        <tr class="cabecalho-tabela">
            <th class="item nome"> Nome </th>
            <th class="item Email"> Email </th>
            <th class="item Endereco"> Endereco </th>
            <th class="item Sexo"> Sexo </th>
            <th class="item cpf"> cpf </th>
            <th class="item acao">Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for pessoa in lista %}
        <tr class="values">
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.email}}</td>
            <td>{{pessoa.endereco}}</td>
            <td>{{pessoa.sexo}}</td>
            <td>{{pessoa.cpf}}</td>
            <td>
                <a href="{% url 'editar_cadastro' pk=pessoa.pk  %}">
                    Editar
                </a>
                <a href="{% url 'remover_pessoa' pk=pessoa.pk  %}">
                    Deletar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<a href="{% url 'cadastro' %}">
    <button class="button_cadastrar"> Cadastrar </button>
</a>
<a href="{% url 'logout' %}">
    <button class="button_logout"> Sair </button>
</a>


</div>

{% endblock content %}